.badge {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 50, 50);
}
.badge-small {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(255, 50, 50); 
  position: absolute;
}