.nav {
  height: 65px;
  background-color: #e7e7e7;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav__list {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__btn {
  font-size: 34px;
  color: var(--gray);
}
.nav__btn:nth-child(3):hover {
  animation: rotateWheel 1s linear infinite;
}